<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
         <!-- h1>{{ site.title | default: site.github.repository_name }}</h1 -->
        
        <!-- {{ site.description | default: site.github.project_tagline }} -->
        
          <!-- a href="https://unsplash.com/@technicat">Las Vegas, Nevada</a -->
        
         <!-- a href="https://unsplash.com/@technicat"><img src="images/unsplash/phil-chu-redbarn-unsplash.jpg" alt="Unsplash" /></a -->
        
        <p/>
        
        {% if site.logo %}
          <a href="{{ site.github.owner_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}
    
        <br/>
        <!-- a href="https://medium.com/@technicat"><img alt="Medium" src="/images/ionicons/svg/logo-medium.svg" height="25"/></a -->
        <!-- a href="https://www.pinterest.com/technicat/"><img alt="Pinterest" src="/images/ionicons/svg/logo-pinterest.svg" height="25"></a -->
        <!-- a href="{{ site.github.owner_url }}"><img alt="Github" src="/images/ionicons/svg/logo-github.svg" height="25"></a -->
        <a href="https://apps.apple.com/us/developer/technicat-llc/id295241742"><img alt="App Store" src="/images/ionicons/svg/logo-apple-appstore.svg" height="25"></a>
        <a href="https://play.google.com/store/apps/details?id=com.technicat.HyperBowl"><img alt="Google Play" src="/images/ionicons/svg/logo-google-playstore.svg" height="25"></a>
        <a href="https://store.steampowered.com/app/847530/HyperBowl/"><img alt="Steam" src="/images/ionicons/svg/logo-steam.svg" height="25"></a>
        <a href="http://technicat.itch.io/"><img alt="technicat on itch.io" src="images/badges/itchio/itchio-textless-black.svg" height="25"/>
</a>
<p/>


        <!-- a href="https://unsplash.com/@technicat"><img alt="Unsplash" src="/images/Unsplash_Symbol.svg" height="20"/></a -->

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
        
      </header>
      
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>
          Copyright &copy; 2017-2020 Technicat LLC<br/>
          <a href="https://unsplash.com/@technicat">Las Vegas, Nevada</a><br/>
          Technicat logo by <a href="http://espressyourself.coffee">Dakota Snow</a><br/>
          <!-- and <a href="http://shanenakamuradesigns.com/">Shane Nakamura Designs</a></br -->
          App store icons from <a href="http://ionicons.com/">Ionicons</a> and <a href="http://itch.io/">itch.io</a><br/>
          Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a><br/>
          </small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  {% endif %}
  </body>
</html>

