<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <a href="{{ site.github.owner_url }}"><img src="{{site.logo | relative_url}}" alt="Logo" /></a><br/>
        {% endif %}
      
        <img src = "images/unsplash/phil-chu-kamala-unsplash.jpg" alt-"kamala"/>
    
        <br/>

        
      </header>
      
      <section>
        
      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>
          Copyright &copy; 2017-2020 <a href="https://github.com/technicat">Technicat LLC</a><br/>
          <a href="https://www.pinterest.com/technicat/las-vegas/">Las Vegas, Nevada</a><br/>
          Technicat logo by <a href="http://espressyourself.coffee">Dakota Snow</a><br/>
          Icons from <a href="http://ionicons.com/">Ionicons</a><br/>
          Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a><br/>
          </small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  {% endif %}
  </body>
</html>

